PORT=5000
MONGO_URI=mongodb+srv://<user>:<password>@<cluster>/<database>?appName=<app>
MONGO_DB_NAME=enthuai_qa
PROCESSING_CONCURRENCY=2
ASSEMBLYAI_API_KEY=

STORAGE_DRIVER=local
# STORAGE_DRIVER=s3
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=
AWS_S3_PREFIX=call-recordings
AWS_S3_PUBLIC_BASE_URL=
AWS_S3_ENDPOINT=
AWS_S3_FORCE_PATH_STYLE=false

SLACK_WEBHOOK_URL=
